:root {
  --gray-500: #555555;
  --gray-400: #777777;
  --gray-200: #dddddd;
  --gray-100: #eeeeee;
  --green: #f4fce8;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #777777;
}

html,
body,
.container {
  background: var(--gray-100);
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1rem;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/*------------------- */
.content {
  max-width: 600px;
  margin: 0 auto;
  background: var(--white);

  padding: 1rem 1rem 0 1rem;
  border: 1px solid var(--gray-200);
}

.content > header > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------Header---------- */

h1 {
  font-size: 2.25rem;
  color: var(--gray-500);
  font-weight: normal;
  margin-bottom: 1.5rem;
}

input.add-todo {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--gray-200);
  font-size: 1rem;
}

/*---------Section---------- */

ul.item-list li {
  border: none;
  border-bottom: 1px solid var(--gray-200);
  padding: 0.8rem 0 0.8rem 0;
  color: var(--gray-500);
}

ul.item-list li:last-child {
  border-bottom: none;
}

ul.item-list li.completed label {
  text-decoration: line-through;
  color: var(--gray-200);
}

section p {
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  padding: 1rem 0 1rem 0.5rem;
  font-size: 1rem;
  background-color: var(--gray-100);
}

/*--------Footer----------- */

footer {
  background: var(--green);
  margin: 0 -1rem 0 -1rem;
  padding: 1rem 2rem;
  border-top: 1px solid var(--gray-200);

  display: flex;
  flex-direction: column;
}

footer span {
  font-weight: normal;
}

footer strong span {
  padding-left: 0.8rem;
  border-left: 1px solid var(--gray-400);
}

nav {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

nav > div {
  display: flex;
  align-items: center;
}

nav img {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s all;
}

nav img:hover,
nav img.selected {
  opacity: 1;
}

nav strong {
  margin-right: 0.25rem;
}

.filter-list {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--gray-200);
  border-radius: 0.2rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

a:hover {
  filter: brightness(0.8);
}

a.selected {
  border-color: var(--gray-400);
}
